/* Write your code here. */
.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;

  opacity: 0.5;
}
.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
